<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/home"><i class="fa fa-rocket"></i> LaunchPad</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/whoweare">Who We Are</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/video">Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/audio">Audio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photography">Photography</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/webdesign">Web Design</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
    <div class="btn-group" role="group" aria-label="...">
      <a class="btn btn-outline-default my-2 my-sm-0" href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
      <a class="btn btn-outline-default my-2 my-sm-0" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    </div>
  </div>
</nav>