<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="stylesheets/audio.css">
</head>
<body>
    <% include partials/navigation %>
    <div class="container">
        <div class="title">
            <h1>Sublime sound.</h1>    
        </div>
        <div class="placeholder">
            <h3>Video Placeholder</h3>
            <p>A video explaining our passion for quality audio. First names, brief backgrounds, and areas of expertise.</br> Touch on why great sound is important.</p>
        </div>
    </div>
<% include partials/foot %>
</body>
</html>