<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="stylesheets/contact.css">
</head>
<body>
    <% include partials/navigation %>
    <div class="container">
        <div class="title">
            <h1>Make contact.</h1>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <h4>Email:</h4>
                <p>contact@launch.pad</p>
            </div>
            <div class="col-xs-4">
                <h4>Phone:</h4>
                <p>1-(800)-082-3589</p>
            </div>
        </div>
        <div class="map">
            <iframe width="750" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJK6vBeonEwogRF_WTN4Wh1Pk&key=AIzaSyDMy4fnb-qXdMfn3KzjedLwjjjZbtBjMps" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>