<!DOCTYPE html>
<html>
<head>
    <title>Home.</title>
    <% include partials/head %>
    <link rel="stylesheet" href="stylesheets/home.css">
</head>
<body>
    
    <% include partials/navigation %>

    <div class="continer">
            <h1>Let's build your future.</h1>    
    </div>    
    
<% include partials/foot %>
    
</body>
</html>
