<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Lauchpad.</title>
    <% include partials/head %>
    <link rel="stylesheet" href="stylesheets/landing.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to </br> LaunchPad.</h1>  
        <p>Get your business </br> off the ground.</p>
        <a href="/home" class="btn btn-lg btn-primary"><i class="fa fa-rocket"></i> Get Started</a>
    </div>

<% include partials/foot %>
    
</body>
</html>
