<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <% include partials/navigation %>
    <div class="container">
        <div class="title">
            <h1>Welcome back.</h1>
        </div>
        
        <form>
            <div class="row">
                <div class="form-group col-centered">
                    <div class="col-xs-4">
                        <input class="form-control" type="text" placeholder="username" autofocus="true"> </br>
                        <input class="form-control" type="text" placeholder="password"> </br>
                    </div>
                <button class="btn btn-md btn-success" type="submit">Ignition</button>
            </div>
            </div>
        </form>   
        
    </div>
    <% include partials/foot %>
</body>
</html>