<!DOCTYPE html>
<html>
    <head>
        <title>Video</title>
        <% include partials/head %>
        <link rel="stylesheet" href="stylesheets/video.css">
    </head>
<body>
    <% include partials/navigation %>
     <div class="container">
        <div class="title">
            <h1>Media. Mastered.</h1>
        </div>
        <div class="placeholder">
            <h3>Video Placeholder</h3>
            <p>A video highlighting our production process. First names, brief backgrounds, and areas of expertise.</br> Touch on why we started LaunchPad, and how we're different.</p>
        </div>
    </div>
        <% include partials/foot %>
    </body>
</html>